In [51]:
##Task 1: Create a Contact Book
#1. Create a dictionary called contacts where:
#o The keys are names of people (strings).
#o The values are their phone numbers (strings).
#2. Add three contacts to the dictionary.
#3. Write a script to:
#o Print all the names in the contact book.
#o Allow the user to search for a contact by name and print the associated phone
#number.

###
contacts = {
    "ahmed" : "01234567898" ,
    "mohamed"  :"01111134501" ,
    "adel" : "01146236677"
}
for name in contacts:
    print(name) 

search_name = ("omer")

if search_name in contacts:
    print(f" {search_name}: {contacts[search_name]}")
else:
    print("The name is not found in the contact book" )

################################

ahmed
mohamed
adel
The name is not found in the contact book

In [57]:
#Task 2: Student Grades
#1. Create a list of dictionaries where each dictionary represents a student with:
#o A name key (string) for the student's name.
#o A grades key (list of integers) for their grades in three subjects.
#2. Write a script to:
#o Calculate the average grade for each student.
#o Print the name and average grade for each student.
####################
students = [
    {"name": "Ahmed", "grades": [85, 90, 70]},
    {"name": "omer", "grades": [92, 80, 95]},
    {"name": "adel", "grades": [70, 60, 80]}
]

for student in students:
    name = student["name"]
    grades = student["grades"]
    average = sum(grades) / len(grades)  
    print(f"{name}: {average:.2f}")

Ahmed: 81.67
omer: 89.00
adel: 70.00